/*BODY*/
body {
 margin: 0;
 font-family: "Noto Sans", sans-serif;
 font-optical-sizing: auto;
 font-weight: 100;
 font-style: normal;
 font-variation-settings: 100;
 background-color: rgb(39, 37, 42);
 color: white;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  background-color:#1b1a1c;
}
ul {
  display: flex;
  justify-content: center;
  gap: 14px;
  list-style-type: none;
}
/*MAIN*/
.hero {
 height: 100vh;
 padding-bottom: 10vh;
}

.tiny { 
 font-size: 20px;
 display: flex;
 justify-content:center;
 padding-top:10vh;
}

.xmasdecor {
  display:flex;
  color:#e387ed;
  background-color: darkslateblue;
  justify-content: space-around;
  font-size: 1vw;
  font-family: "Yarndings 20", system-ui;
  font-weight: 300;
  font-style: normal
}

/*TITLE*/
.title {
  font-size: 5vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 14vh;
}

/*BODYTEXT*/
.bodytext {
  font-size: 1.7vh;
  display: flex;
  justify-content: center;
  padding-bottom: 30vh;
}

.myprojects {
  display: flex;
  justify-content: center;
  font-size: 3vh;
}

.oopsie {
 display: flex;
 justify-content: center;
 font-size: 2vh;
 padding-top: 7vh;
 padding-bottom: 20vh;
}

/*FOOTER*/
footer{
  display: flex;
  justify-content: center;
  color:#e387ed;
  background-color: #1b1a1c;
}