/*BODY*/
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 14px;
  list-style-type: none;
}
/*MAIN*/
.hero{
display: flex;
justify-content: space-around;

font-size: 90px;
height: 100vh;


}

section {
  height: 50vh;
  padding: 30px 20px;
}

/*TITLE*/
.title {
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
}

/*BODYTEXT*/
.bodytext {
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
}
